.drug-item {
  background-color: #555;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  border-left: 4px solid #007bff;
}
.weapon-item {
  background-color: #555;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  border-left: 4px solid #ff7b00;
}
.money-item {
  background-color: #555;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  border-left: 4px solid #00ff7b;
}
.software-item {
  background-color: #555;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  border-left: 4px solid #ffff7b;
}
