body {
  padding: 0;
  margin: 0;
  background-color: #333;
  color: #fff;
}
nav.main-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
nav a:hover {
  background-color: #444;
}
content {
  padding: 20px;
}
ul {
  list-style-type: none; /* entfernt • */
  padding: 0; /* optional: entfernt Einrückung */
}
li {
  font-size: 1.5em; /* macht den Text größer */
}
nav li.choosed {
  background-color: #555; /* etwas helleres Grau */
  border-radius: 12px;     /* runde Ecken */
}
nav li.choosed a {
  font-weight: bold;
}
